.img-1{
    width: 60rem;
    height: 43rem;
}
.img-2{
    width: 60rem;
    height: 43rem;
}
.img-3{
    width: 60rem;
    height: 43rem;
}
.img-fluid{
    width: 17rem;
    height: 12rem;
}
.text-1{
    font-size: larger;
}